rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
  
    function isUserAuthenticated() {
      return request.auth != null;
    }
    
    function isUser(uid) {
      return isUserAuthenticated() && request.auth.uid == uid;
    }
    
    function isRestaurantOwner(restaurantId) {
       return isUser(get(/databases/$(database)/documents/restaurants/$(restaurantId)).data.ownerId);
    }

    match /utilisateurs/{userId} {
      allow read, update: if isUser(userId);
      allow create: if isUserAuthenticated();
    }

    match /restaurants/{restaurantId} {
      allow read: if true;
      allow create: if isUser(request.resource.data.ownerId);
      allow update, delete: if isRestaurantOwner(restaurantId);
    }
    
    match /plats/{platId} {
        allow read: if true;
        allow create: if isRestaurantOwner(request.resource.data.restaurantId);
        allow update, delete: if isRestaurantOwner(resource.data.restaurantId);
    }

    match /commandes/{orderId} {
      allow read: if 
          // Le client peut lire sa propre commande
          request.auth.uid == resource.data.userId ||
          // Le livreur assigné peut lire la commande
          request.auth.uid == resource.data.delivererId ||
          // Le propriétaire du restaurant peut lire les commandes de son restaurant
          request.auth.uid == get(/databases/$(database)/documents/restaurants/$(resource.data.restaurantId)).data.ownerId ||
          // N'importe quel utilisateur authentifié peut voir les commandes prêtes à être livrées
          (isUserAuthenticated() && resource.data.status == 'En Préparation');

      allow create: if isUser(request.resource.data.userId);

      allow update: if 
          // Le propriétaire du restaurant peut mettre à jour le statut vers 'En Préparation'
          (isRestaurantOwner(resource.data.restaurantId) && request.resource.data.status == 'En Préparation') ||
          // Un livreur peut s'assigner une commande en changeant son statut vers 'En Route'
          (isUserAuthenticated() && resource.data.status == 'En Préparation' && request.resource.data.status == 'En Route' && request.resource.data.delivererId == request.auth.uid) ||
          // Le livreur assigné peut marquer la commande comme 'Livrée'
          (isUser(resource.data.delivererId) && request.resource.data.status == 'Livrée');
    }
  }
}
