rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
  
    function isUserAuthenticated() {
      return request.auth != null;
    }
    
    function isUser(uid) {
      return isUserAuthenticated() && request.auth.uid == uid;
    }
    
    function getUserData() {
      return get(/databases/$(database)/documents/utilisateurs/$(request.auth.uid)).data;
    }
    
    function userExists() {
      return exists(/databases/$(database)/documents/utilisateurs/$(request.auth.uid));
    }

    function isRestaurantOwner(restaurantId) {
       return isUserAuthenticated() && exists(/databases/$(database)/documents/restaurants/$(restaurantId)) && isUser(get(/databases/$(database)/documents/restaurants/$(restaurantId)).data.proprietaireId);
    }
    
    function isSuperAdmin() {
      return isUserAuthenticated() && 
             userExists() && 
             getUserData().get('roleSysteme', 'User') == 'SuperAdmin';
    }

    match /utilisateurs/{userId} {
      allow read, update: if isUserAuthenticated() && (isUser(userId) || isSuperAdmin());
      allow create: if isUserAuthenticated() && isUser(userId);
    }
    
    match /utilisateurs {
      allow list: if isSuperAdmin();
    }

    match /restaurants/{restaurantId} {
      allow read: if true;
      allow create: if isUserAuthenticated() && isUser(request.resource.data.proprietaireId) && userExists() && getUserData().role == 'restaurateur';
      allow update, delete: if isRestaurantOwner(restaurantId) || isSuperAdmin();
    }
    
    match /restaurants {
      allow list: if true;
    }
    
    match /plats/{platId} {
        allow read: if true;
        allow create: if isUserAuthenticated() && isRestaurantOwner(request.resource.data.restaurantId);
        allow update, delete: if isRestaurantOwner(resource.data.restaurantId) || isSuperAdmin();
    }
    
    match /plats {
      allow list: if true;
    }

    match /commandes/{orderId} {
      allow read: if isUserAuthenticated() && (
        isUser(resource.data.userId) || 
        (resource.data.livreurId != null && isUser(resource.data.livreurId)) || 
        isRestaurantOwner(resource.data.restaurantId) || 
        isSuperAdmin() ||
        (userExists() && (getUserData().role == 'livreur' || getUserData().role == 'restaurateur'))
      );

      allow create: if isUserAuthenticated() && isUser(request.resource.data.userId);

      allow update: if isUserAuthenticated() && (
          // Le restaurateur accepte (Placée -> En Préparation)
          (isRestaurantOwner(resource.data.restaurantId) && resource.data.statut == 'Placée' && request.resource.data.statut == 'En Préparation') ||
          
          // Le livreur prend en charge (En Préparation -> En Route)
          (userExists() && getUserData().role == 'livreur' && (resource.data.statut == 'En Préparation' || resource.data.statut == 'Placée') && request.resource.data.statut == 'En Route' && request.resource.data.livreurId == request.auth.uid) ||
          
          // Le livreur termine (En Route -> Livrée)
          (isUser(resource.data.livreurId) && resource.data.statut == 'En Route' && request.resource.data.statut == 'Livrée') ||
          
          isSuperAdmin()
      );
      
      allow list: if isUserAuthenticated() && (
        userExists() && (getUserData().role == 'livreur' || getUserData().role == 'restaurateur' || getUserData().get('roleSysteme', 'User') == 'SuperAdmin')
      ) || (isUserAuthenticated() && request.query.limit <= 100);
    }
  }
}