@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 20 15% 9%;
    --card: 0 0% 100%;
    --card-foreground: 20 15% 9%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 15% 9%;
    --primary: 24 95% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 30 5% 90%;
    --secondary-foreground: 20 15% 9%;
    --muted: 30 5% 90%;
    --muted-foreground: 20 9% 40%;
    --accent: 151 83% 34%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 30 5% 88%;
    --input: 0 0% 100%;
    --ring: 24 95% 53%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 20 13% 10%;
    --foreground: 0 0% 98%;
    --card: 20 13% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 20 13% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 24 95% 58%;
    --primary-foreground: 20 15% 9%;
    --secondary: 20 13% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 20 13% 15%;
    --muted-foreground: 20 9% 60%;
    --accent: 151 73% 40%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 100%;
    --border: 20 13% 20%;
    --input: 20 13% 15%;
    --ring: 24 95% 58%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
