
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
  
    function isUserAuthenticated() {
      return request.auth != null;
    }
    
    function isUser(uid) {
      return isUserAuthenticated() && request.auth.uid == uid;
    }
    
    function isRestaurantOwner(restaurantId) {
       return isUser(get(/databases/$(database)/documents/restaurants/$(restaurantId)).data.proprietaireId);
    }
    
    // Check for a custom claim on the auth token instead of reading the database
    function isSuperAdmin() {
      return request.auth.token.roleSysteme == 'SuperAdmin';
    }

    function noSuperAdminExists() {
        return !exists(/databases/$(database)/documents/utilisateurs.where("roleSysteme", "==", "SuperAdmin"));
    }

    match /restaurants/{restaurantId} {
      allow read: if true;
      allow create: if isUser(request.resource.data.proprietaireId);
      allow update, delete: if isRestaurantOwner(restaurantId) || isSuperAdmin();
    }
    
    match /plats/{platId} {
        allow read: if true;
        allow create: if isRestaurantOwner(request.resource.data.restaurantId);
        allow update, delete: if isRestaurantOwner(resource.data.restaurantId) || isSuperAdmin();
    }

    match /commandes {
      allow list: if isUserAuthenticated();
    }

    match /commandes/{orderId} {
      allow read: if request.auth.uid == resource.data.userId || request.auth.uid == resource.data.livreurId || isRestaurantOwner(resource.data.restaurantId) || isSuperAdmin();

      allow create: if isUser(request.resource.data.userId);

      allow update: if 
          (isRestaurantOwner(resource.data.restaurantId) && (request.resource.data.statut == 'En Préparation' || resource.data.statut == 'Placée')) ||
          (isUserAuthenticated() && resource.data.statut == 'En Préparation' && request.resource.data.statut == 'En Route' && request.resource.data.livreurId == request.auth.uid) ||
          (isUser(resource.data.livreurId) && resource.data.statut == 'En Route' && request.resource.data.statut == 'Livrée') ||
          isSuperAdmin();
    }

    match /utilisateurs {
        allow list: if isSuperAdmin();
    }
    
    match /utilisateurs/{userId} {
      // isSuperAdmin() now checks claims, so it won't cause a recursive loop.
      allow read: if isUser(userId) || isSuperAdmin();
      
      // A user can update their own profile, as long as they are not trying to change their system role.
      // A SuperAdmin can update any profile.
      // A user can promote themselves to SuperAdmin ONLY IF no super admin exists.
      allow update: if (isUser(userId) && (!('roleSysteme' in request.resource.data) || request.resource.data.roleSysteme == resource.data.roleSysteme)) || 
                      isSuperAdmin() ||
                      (isUser(userId) && request.resource.data.roleSysteme == 'SuperAdmin' && noSuperAdminExists());
      allow create: if isUserAuthenticated();
    }
  }
}
    
